<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="icon" href="http://2.bp.blogspot.com/_LApxKDsDWI0/TKKY13EVy1I/AAAAAAAAFCg/iC6RxWHuazs/s1600/dog+boxer.png">
        
    </head>
<body>

<div class="infopage">
    <div class="button2">
         <a href="/"><button type="button">Back to Home</button></a>
        
    </div>
    
    <div class="posted-level">
        <h2>You got a text!</h2>
    </div>
    
</div>

</body>

</html>