<!DOCTYPE html>
<html>
    <head>
        <title>Water Bowl Sensor</title>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="icon" href="http://2.bp.blogspot.com/_LApxKDsDWI0/TKKY13EVy1I/AAAAAAAAFCg/iC6RxWHuazs/s1600/dog+boxer.png">
    </head>
<!--- HOME PAGE --->
<body>
<div class="homepage">
    <div class="intro_header">
        <h1>WELCOME TO THE WATER BOWL SENSOR</h1>
    </div>
    <div class="instruction">
        <p>Click the button to get started</p>
        
    </div>
    <div class="button1">
        <a href="/infopage"><button><strong>Let's Go!</strong></button></a>
    </div>
        
</div>

</body>
    
    
</html>